<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.demo.mapper.UserMapper">
	<resultMap type="com.tony.demo.bean.User" id="userMap">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
	</resultMap>
	<select id="getUsers" parameterType="java.util.Map" resultMap="userMap">
		select * from user
		<where>
			<if test="name!=null">name=#{name}</if>
			<if test="age!=null">and age=#{age}</if>
		</where>
	</select>
	
	<select id="getById" resultMap="userMap">
		select * from user where id=#{id}
	</select>
	
	<select id="getAll" resultMap="userMap">
		select * from user
	</select>
	
	<insert id="createUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.tony.demo.bean.User">
		insert into user(name,age) values(#{name},#{age});
	</insert>
	
	<insert id="batchInsert" 
		parameterType="java.util.List">
		insert into user(name,age)
		values
		<foreach collection="list" item="user" separator=",">
			(#{user.name},#{user.age})
		</foreach>
	</insert>
	
	<insert id="createView" parameterType="java.lang.String">
		${sql}
	</insert>
</mapper>
